ActiveDirectoryDLL/ActiveDirectory/Service References/ServiceActiveDirectory/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ActiveDirectory" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ActiveDirectory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaultExceptionActive">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultExceptionActive" nillable="true" type="tns:FaultExceptionActive" />
</xs:schema>